body{
 
  padding: 10px;
  color: rgb(1, 1, 20);
  font-weight: 500;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.HookUseState-Container input{
  width: 500px;
  height: 40px;
  color: 20px;
  font-size: 20px;
}
.ToggleUseState-Container {
  margin-top: 30px;
  color: rgb(243, 10, 49);
  font-size: 20px;
}
.NavBarComp-Container {
  height: 100px;
  width: 100%;
  background-color: rgb(196, 255, 252);
  
}
.NavBarComp-Container ul{
  list-style: none;
  display: inline-flex;
 
}
.NavBarComp-Container li{
  padding: 30px;
  font-size: 25px;
  text-align: center;
}
.NavBarComp-Container a {
  text-decoration: none;
  color: black;
  font-weight: 600;
 
}
h1{
  color: rgb(128, 58, 0);
  text-align: center;
  font-size: 40px;
}
.NavBarComp-Container img{
  width: 200px;
}
.TaskFetchData-Container{
 
  

}
.TaskFetchData-Container img{
  width: 200px;
  height: 200px;
  margin-right: 300px;
  
  
  
}
.items-container{
  display: inline-grid;
  grid-template-columns: 300px 300px ;


}